<div class="w-8/12 mx-auto">
  <h4 class="text-center mt-2 text-gray-500">Todo List</h4>
  <div class="mt-2">
    <details
      class="overflow-hidden mt-1 border-solid rounded-sm border-[#f1f1f1] border shadow-sm p-2"
    >
      <summary class="block cursor-pointer px-3 py-2 rounded-t-md">
        Read more
      </summary>
      <div class="p-4 flex justify-between">
        <ul>
          <li><strong>Title:</strong></li>
          <li><strong>Comment:</strong></li>
        </ul>
        <button
          class="flex items-center leading-10 py-0 px-4 rounded-md text-white bg-[#673ab7] hover:bg-[#7e5abb]"
        >
          <span class="inline-block mr-2"> Mark done </span>
          <span class="cursor-pointer material-symbols-outlined">done</span>
        </button>
      </div>
    </details>
    <details
      class="overflow-hidden mt-1 border-solid rounded-sm border-[#f1f1f1] border shadow-sm  p-2"
    >
      <summary class="block cursor-pointer px-3 py-2 rounded-t-md">
        Read more
      </summary>
      <div class="p-4 flex justify-between">
        <ul>
          <li><strong>Title:</strong></li>
          <li><strong>Comment:</strong></li>
        </ul>
        <button
          class="flex items-center leading-10 py-0 px-4 rounded-md text-white bg-[#673ab7] hover:bg-[#7e5abb]"
        >
          <span class="inline-block mr-2"> Mark done </span>
          <span class="cursor-pointer material-symbols-outlined">done</span>
        </button>
      </div>
    </details>
  </div>
</div>
