<div class="w-8/12 mx-auto">
  <h4 class="text-center mt-2 text-gray-500">Todo List</h4>
  <div class="mt-2" *ngIf="list().length; else empty">
    <details
      class="overflow-hidden mt-1 border-solid rounded-sm border-[#f1f1f1] border shadow-sm p-2"
      *ngFor="let item of list(); let index = index"
    >
      <summary
        class="block cursor-pointer px-3 py-2 rounded-t-md"
        [class.line-through]="item.isDone"
      >
        {{ item.title }}
      </summary>
      <div class="p-4 flex justify-between">
        <ul>
          <li><strong>Title:</strong> {{ item.title }}</li>
          <li><strong>Comment:</strong>{{ item.comment }}</li>
        </ul>
        <div>
          <button
            (click)="markDone(index)"
            [disabled]="item.isDone"
            class="flex items-center py-2 px-4 rounded-md text-white bg-[#673ab7] hover:bg-[#7e5abb] disabled:opacity-50"
          >
            <span class="inline-block mr-2"> Mark done </span>
            <span class="cursor-pointer material-symbols-outlined">done</span>
          </button>
        </div>
      </div>
    </details>
  </div>
</div>

<ng-template #empty>
  <h3 class="text-center text-gray-500 mt-4">List is empty</h3>
</ng-template>
