<div class="flex justify-center gap-2 mt-40">
  <div class="w-4/12">
    <form
      [formGroup]="todoForm"
      class="space-y-5 border-r-2 pr-6 border-gray-300"
      (submit)="onSubmit()"
    >
      <h4 class="text-center text-gray-500">Add ToDo</h4>
      <div class="mt-1">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title"
          >Title</label
        >
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          formControlName="title"
          id="title"
          placeholder="Title"
        />
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="comment"
          >Comment</label
        >
        <textarea
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="comment"
          formControlName="comment"
          cols="30"
          rows="4"
        ></textarea>
      </div>
      <div class="flex flex-row-reverse">
        <button
          class="p-2 px-4 rounded-md text-white bg-[#673ab7] hover:bg-[#7e5abb]"
        >
          Add
        </button>
      </div>
    </form>
  </div>
  <div class="w-4/12">
    <h4 class="text-center text-gray-500 border-b-2 border-grey-200 pb-4">
      ToDo List
    </h4>
    <ul class="p-6 text-gray-600">
      <li class="flex justify-between items-center">
        <div class="flex gap-4 items-center">
          <span class="material-symbols-outlined"> class </span>
          <div>
            <div class=" ">Title</div>
            <div class="text-sm">Comment</div>
          </div>
        </div>
        <div class="flex gap-4">
          <span class="text-[#673ab7] cursor-pointer material-symbols-outlined"
            >edit</span
          >
          <span class="text-red-500 cursor-pointer material-symbols-outlined"
            >delete_forever</span
          >
        </div>
      </li>
    </ul>
    <div></div>
  </div>
</div>
