<div class="h-[80vh] flex items-center justify-center flex-col gap-10">
  <div class="flex gap-8">
    <img
      width="200"
      height="200"
      ngSrc="assets/Angular_full_color_logo.svg.png"
      alt="angular"
      priority="true"
      disableOptimizedSrcset
    />
    <img
      width="141"
      height="198"
      ngSrc="assets/pngimg.com - traffic_light_PNG56243.png"
      alt="signal"
      priority="true"
      disableOptimizedSrcset
    />
  </div>

  <div>
    <h4>Angular Signals</h4>
  </div>
</div>
